body, html { margin: 0; padding: 0;}

body {
  background-color: silver;
}


#gmap {
  height: 100%;
  width: 100%; 
  position:absolute; 
  top: 0; left: 0;
  z-index: 0;
  min-width: 768px;
}


#nav-topbar {
  position: relative;
  margin: 8px auto;
  height: 42px;
  border: 2px ridge #565656;
  border-radius: 16px;
  width: calc(90% - 16px);
  background-image: url('../img/bkg03.png');
  background-repeat: repeat;
  background-size: 25% 25%;
  min-width: 768px;
  z-index: 8;
}


#display-dtime {
  color: #eee;
  float: right;
  height: 100%;
  border-radius: 0 16px 16px 0;
  text-align: center;
  margin: 0; padding: 0;
  width: 128px;
  border-left: 1px solid silver; 
  background: linear-gradient(to bottom,
    rgba(56,56,56,1) 0%,
    rgba(13,13,13,1) 25%,
    rgba(1,1,1,1) 50%,
    rgba(10,10,10,1) 75%,
    rgba(56,56,56,1) 100%
  );
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  font-weight: bold;
}


#display-date {
  font-size: 0.805em;
  margin: 4px 0 0 0; padding: 0;
}


#display-time {
  font-size: 1.325em;
  margin: 0; padding: 0;
}