
#info-window {
	position: absolute;
  right: 5%;
  top: 15%;
	background: rgba(40, 40, 40, 0.85);
  border: 2px ridge #0bf;
	border-radius: .4em .4em 0 0;
  z-index: 10;
  height: 60%;
  width: 40%;
  min-height: 384px;
  max-width: 512px;
  min-width: 256px;
  color: white;
}

#info-details {
  height: 25%;
  min-height: 86px;
}

#info-title {
  position: relative;
  margin: 0; padding: 8px 0;
  font-size: 18x;
  font-family: Impact;
  letter-spacing: 1px;
  text-align: center;
  width: 98%;
}

#info-details {
  position: relative;
  text-align: center;
}

#info-more {
  position: absolute; bottom: 2px;
  width: calc(100% - 8px);
  margin: 0;
  padding: 2px 4px;
  text-align: center;
}

#info-more button {
  text-align: center;
  width: 96px;
}

#info-report strong {
  font-size: 1.125em;
}

#info-report table {
  width: 95%;
  font-size: 12px;
  text-align: center;
}

#info-body {
  /* min-height: 124px; */
  width: calc(100% - 8px);
  height: calc(60% - 4px);
  margin: 0 0 0 4px;
  padding: 0;
  font-size: 16px;
  overflow-y: scroll;
  border: 2px inset silver;
  background: rgba(10,10,10);
  box-sizing: border-box;
  color: #ddd;
}

#info-closure {
  height: calc(15% - 4px);
  width: calc(100% - 8px);
  margin: 0 0 0 4px;  
  padding: 0;
}

#info-closure table { width: 100%; }
#info-closure table td { width: 50%; }
#info-closure textarea, #info-closure input, #info-closure button {width: 100%;}

input, textarea {background: black; color: white;border: 2px inset #888;}

/*
#info-body ul {padding: 0 0 0 8px;}
#info-body ul li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 16px;
}
*/
#info-body ul {padding: 0 0 0 16px;}
#info-body ul li {
  list-style-type: none;
  padding: 0 0 8px 0;
  color: #fff;
}
#info-body ul li strong {
  font-size: 0.82em;
  color: #aaa;
  font-style: italic;
}


#info-votes {
  position: absolute;
  top: 18px;
  left: 8px;
  height: 90px;
  width: 42px;
  /*background: rgba(255,255,255, 0.8);*/
}

#info-vup, #info-vdn {
  text-align: center;
  width: 100%;
  height: auto;
}

#info-vcount {
  position: relative;
  text-align: center;
  font-size: 1.3em;
  text-shadow: 1px 1px 2px black;
}