
#nav-topbar {
  position: relative;
  margin: 8px auto;
  height: 42px;
  border: 2px ridge #565656;
  border-radius: 16px;
  width: calc(90% - 16px);
  background: rgba(40,40,40,0.85);
  min-width: 768px;
  z-index: 8;
}

#nav-main {
  margin: 0; padding: 0;
}

#nav-main li {
  border-right: 2px ridge #888;
}

#nav-btns li {
  border-left: 2px ridge #888;
}

#nav-main li, #nav-btns li {
  float: left;
  text-align: center;
  margin: 20px 0 0 0; padding: 0;
}

#nav-main li a, #nav-btns li a {
  display: inline;
}

#nav-main ul {
  list-style-type: none;
  text-align: center;
  margin: 0 0 0 0; padding: 0 0 0 0;  
}

#nav-btns ul {
  list-style-type: none;
  text-align: center;
  margin: 0 0 0 0; padding: 0 0 0 0;  
}

#nav-topbar button, #nav-btns button {
  border: 0;
  background: rgba(0,0,0,0.0);
  color: #ddd;
  text-shadow: 1px 1px 2px black;
  font-size: 1.065em;
}

#nav-topbar button:hover, #nav-btns button:hover {
  border: 0;
  background: rgba(0,0,0,0.0);
  color: #fff;
  text-shadow: 1px 1px 2px #ddd;
}

#nav-topbar button:focus, #nav-btns button:focus {
  outline: 0;
}

#nav-btns {
  float: left;
  direction: rtl;
  text-align: center;
}

#nav-user {
  position: relative;
  float: right;
}

#display-dtime {
  color: #eee;
  float: right;
  height: 100%;
  border-radius: 0 16px 16px 0;
  text-align: center;
  margin: 0; padding: 0;
  min-width: 128px;
  border-left: 1px solid silver; 
  background: linear-gradient(to bottom,
    rgba(56,56,56,1) 0%,
    rgba(13,13,13,1) 25%,
    rgba(1,1,1,1) 50%,
    rgba(10,10,10,1) 75%,
    rgba(56,56,56,1) 100%
  );
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
  font-weight: bold;
}


#display-date {
  font-size: 0.805em;
  margin: 4px 0 0 0; padding: 0;
}


#display-time {
  font-size: 1.325em;
  margin: 0; padding: 0;
}